.icon-stat-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    
    min-height: 15vw;
    gap: 15px; 

    .icon-stat {
        
        flex: 1; 
        min-height: 40px;
        padding: 20px; 

        background-image: linear-gradient(135deg, var(--stat-color), rgba(0, 0, 0, 0.6));
        border: 2px solid var(--stat-color);
        border-radius: 6px;

        transition: transform 0.3s ease, filter 0.5s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        text-decoration: none; 

        &:hover {
            transform: scale(1.03);
            filter: brightness(1.5);
        }

        
        h1 {
            color: var(--basic-font-color);
            margin: 0; 
            font-size: var(--small-header-font-size); 
            font-weight: bold;
            text-align: center;
        }

        
        p {
            color: var(--basic-font-color);
            margin: 10px 0 0 0; 
            font-size: var(--paragraph-font-size); 
            text-align: center;
            
            
            overflow-wrap: break-word; 
            word-wrap: break-word;
        }
    }
}

@media screen and (max-width: 768px) {
    .icon-stat-container {
        flex-direction: column;
        align-items: center;

        
        .icon-stat {
            width: 80%; 
            flex: none; 
        }
    }
}