.userbar {
    width: var(--userbar-width);
    height: calc(100vh - var(--navbar-height));
    top: var(--navbar-height);
    left: 0;

    overflow-y: scroll;

    position: fixed;

    z-index: 999;

    background-image: linear-gradient(
        45deg,
        var(--navbar-background-color-main),
        var(--navbar-background-color-secondary)
    );

    display: flex;
    flex-direction: column;
    align-items: stretch;

    border-right: 2px solid var(--border-color-main);

    .user-links {
        display: flex;
        flex-direction: column;

        width: 100%;

        a {
            width: 100%;
            height: clamp(50px, 15vw, 100px);
            color: var(--navbar-link-font-color);
            text-decoration: none;

            font-size: var(--small-header-font-size);

            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 var(--navbar-link-gap);

            &.active {
                background-color: var(--navbar-link-active-color);
            }

            &:hover:not(.active) {
                background-color: var(--navbar-link-hover-color);
            }
        }
    }
}