.userbar {
    width: var(--userbar-width);
    height: 100vh;
    top: 0%;
    left: 0%;

    overflow-y: scroll;

    position: fixed;

    z-index: 999;

    margin-top: var(--navbar-height);

    background-image: linear-gradient(
        45deg,
        var(--navbar-background-color-main),
        var(--navbar-background-color-secondary)
    );

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-right: 2px solid var(--border-color-main);

    .site-title {
        color: var(--navbar-title-font-color);
        text-decoration: none;

        font-size: var(--navbar-title-font-size);
        font-weight: bold;
    }

    .user-links {
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        height: 25vh;
        width: 100%;

        a {
            width: 100%;
            color: var(--navbar-link-font-color);
            text-decoration: none;

            font-size: var(--navbar-link-font-size);

            display: flex;
            align-items: center;
            justify-content: center;
            
            height: 100%;

            padding: 0 var(--navbar-link-gap);

            &.active {
                background-color: var(--navbar-link-active-color);
            }

            &:hover:not(.active) {
                background-color: var(--navbar-link-hover-color);
            }
        }
    }

}