.user-page {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    margin-left: var(--userbar-width);
    width: calc(100% - var(--userbar-width));

    padding: var(--main-gap-size) var(--main-gap-size);
}