.info-block {
    max-width: 100%;
    padding: 12px 24px;
    margin: 6px 12px;

    background-image: linear-gradient(
        125deg, 
        var(--basic-background-color-main),
        var(--basic-background-color-secondary)
    );
    backdrop-filter: blur(10px);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: var(--main-gap-size);

    img {
        aspect-ratio: 1 / 1;
        width: 25%;
        height: auto;
    }

    .info-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1:not(.page-button h1) {
            margin: 2px;

            color: var(--basic-font-color);
            text-align: center;
            font-size: var(--header-font-size);
            font-weight: bold;
        }

        hr {
            width: 30%;
            height: 4px;
            border-radius: 6px;
            border-color: var(--main-color);
        }

        p {
            margin: 2px;

            color: var(--basic-font-color);
            text-align: start;
            font-size: var(--paragraph-font-size);
            white-space: pre-wrap;

            text-wrap: wrap;
            width: 100%;
        }

        .component {
            margin: 2px;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .info-block {
        flex-direction: column;
        
        .info-body {
            align-items: center;

            h1:not(.page-button h1), p {
                text-align: center;
            }
        }

        .img {
            width: 60%;
        }
    }
}