.flex-container-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: var(--main-gap-size);
}

.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: var(--main-gap-size)
}

.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: var(--main-gap-size)
}