html, body {
  width: 100vw;
  height: auto;

  margin: 0;
  padding-top: var(--navbar-height);

  background-image: linear-gradient(
    45deg,
    var(--background-color-secondary),
    var(--background-color-main)
  );
  background-attachment: fixed;

  overflow-x: hidden;
  overflow-y: scroll;
}

.main-content {
  padding: 0 16px;
}
