* {
  box-sizing: border-box;
}

:root {
  --background-color-main: rgb(18, 38, 26);
  --background-color-secondary: rgb(12, 26, 18);
  --background-color-other: rgb(25, 50, 0);

  --navbar-background-color-main: rgb(24, 52, 36);
  --navbar-background-color-secondary: rgb(15, 42, 28);

  --navbar-title-font-color: rgb(91, 183, 106);
  --navbar-link-font-color: rgb(200, 200, 200);

  --navbar-link-active-color: rgb(0, 88, 18);
  --navbar-link-hover-color: rgb(0, 50, 0);

  --main-color: rgb(0, 200, 40);

  --navbar-height: 55px;
  --navbar-link-gap: 20px;

  --navbar-title-font-size: 30px;
  --navbar-link-font-size: 20px;

  --basic-background-color-main: rgba(255, 255, 255, 0.1);
  --basic-background-color-secondary: rgba(255, 255, 255, 0.05);

  --basic-font-color: rgb(230, 230, 230);

  --border-color-main: rgb(90, 180, 100);

  --header-font-size: clamp(24px, 5vw, 64px);
  --small-header-font-size: clamp(12px, 3vw, 48px);
  --paragraph-font-size: clamp(12px, 2vw, 32px)
}