* {
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;

  &::-webkit-scrollbar {
      width: 4px;
  }

  &::-webkit-scrollbar-track {
      background: transparent;
  }

  &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color);
      border-radius: 4px;
  }
}

:root {
  --background-color-main: rgb(18, 38, 26);
  --background-color-secondary: rgb(12, 26, 18);
  --background-color-other: rgb(25, 50, 0);

  --navbar-background-color-main: rgb(24, 52, 36);
  --navbar-background-color-secondary: rgb(15, 42, 28);

  --navbar-title-font-color: rgb(91, 183, 106);
  --navbar-link-font-color: rgb(200, 200, 200);

  --navbar-link-active-color: rgb(0, 88, 18);
  --navbar-link-hover-color: rgb(0, 50, 0);

  --main-color: rgb(0, 200, 40);

  --navbar-height: clamp(40px, 5vh, 120px);
  --navbar-link-gap: clamp(6px, 1.5vw, 30px);

  --userbar-width: clamp(75px, 20vw, 500px);

  --navbar-title-font-size: clamp(24px, 3.25vw, 116px);
  --navbar-link-font-size: clamp(12px, 2vw, 64px);

  --basic-background-color-main: rgba(255, 255, 255, 0.1);
  --basic-background-color-secondary: rgba(255, 255, 255, 0.05);

  --basic-font-color: rgb(230, 230, 230);

  --border-color-main: rgb(90, 180, 100);

  --header-font-size: clamp(24px, 5vw, 128px);
  --small-header-font-size: clamp(12px, 2.5vw, 64px);
  --paragraph-font-size: clamp(12px, 2vw, 64px);
  --note-font-size: clamp(6px, 1vw, 32px);

  --main-gap-size: clamp(6px, 1.5vw, 30px);

  --scrollbar-color: rgb(30, 80, 20);
}