.navbar {
    width: 100%;
    height: var(--navbar-height);
    top: 0%;
    left: 0%;

    position: fixed;
    z-index: 1000;

    background-image: linear-gradient(
        45deg,
        var(--navbar-background-color-main),
        var(--navbar-background-color-secondary)
    );

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--border-color-main);

    .site-title {
        color: var(--navbar-title-font-color);
        text-decoration: none;

        font-size: var(--navbar-title-font-size);
        font-weight: bold;
    }

    .nav-links {
        display: flex;
        /*gap: var(--navbar-link-font-size);*/

        align-items: center;
        height: 100%;

        a {
            color: var(--navbar-link-font-color);
            text-decoration: none;

            font-size: var(--navbar-link-font-size);

            display: flex;
            align-items: center;
            height: 100%;

            padding: 0 var(--navbar-link-gap);

            &.active {
                background-color: var(--navbar-link-active-color);
            }

            &:hover {
                background-color: var(--navbar-link-hover-color);
            }
        }
    }

}